Repository aabrilfl13/profes-nomadas: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, prettier --write

.lintstagedrc:

{
	"src/**/*.{ts,js,tsx,jsx}": ["prettier --check"],
	"src/**/*.{css,scss,md,json}": ["prettier --write"]
}

Added header
  src/components/header/HamburgerButton.jsx
  src/components/header/Header.jsx
  src/components/header/ToogleMenu.jsx
  src/pages/HomePage.jsx
Due: prettier --check

Fix lint option to work wirh windows
  package.json
Due: none

Add @ in imports
  src/assets/BackgroundHero.png
  src/components/hero/Hero.jsx
  src/components/packs/PackList.jsx
  src/data/packsData.jsx
  src/pages/HomePage.jsx
  vite.config.js
Due: prettier --check

Add install and init firebase
  .firebaserc
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  firebase.json
  package.json
Due: none

Add cache
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

Adjust actions
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

Rename pull request action
  .github/workflows/pull-request-checks.yml
Due: none

Add code checks action
  .github/workflows/pull-request-checks.yml
Due: none

Format all src code
  src/components/header/HamburgerButton.jsx
  src/components/header/Header.jsx
  src/components/header/ToogleMenu.jsx
Due: prettier --check

Remove unused code in app
  src/App.jsx
Due: prettier --check

Create constants file
  src/data/constants.jsx
  src/pages/HomePage.jsx
Due: prettier --check

Proptypes del componente pack definidas
  package.json
  src/components/packs/Pack.jsx
Due: prettier --check

Change index file to es lang and change title
  index.html
Due: none

Remove default css and make css for sections inside app
  src/App.css
Due: prettier --write

Add global css and a debug css which shows red lines
  src/index.css
Due: prettier --write

Fix text, but still not working well I guess
  src/index.css
Due: prettier --write

Replace labels of the card by video
  src/components/cards/TikTokCard.jsx
  src/data/constants.jsx
  src/index.css
Due: prettier --check, prettier --write

Add description effect
  src/components/cards/TikTokCard.jsx
  src/components/cards/tikTokCard.css
Due: prettier --check, prettier --write

Add vids, center slides and some css
  src/assets/videos/vid1.mp4
  src/assets/videos/vid2.mp4
  src/components/cards/tikTokCard.css
  src/components/tiktok/TikTokList.jsx
  src/data/constants.jsx
Due: prettier --check, prettier --write

Add grandient to see letters
  src/components/cards/TikTokCard.jsx
Due: prettier --check

Add button when video is clicked
  src/components/cards/TikTokCard.jsx
  src/components/cards/tikTokCard.css
Due: prettier --check, prettier --write

Changed the header color and added a validation that was missing
  jsconfig.json
  package.json
  src/App.css
  src/common/Button.jsx
  src/components/cards/reviewCard.jsx
  src/components/header/Header.jsx
  src/components/hero/Hero.jsx
  src/data/packsData.jsx
Due: prettier --check, prettier --write

Add a new component reviewCard
  src/assets/img/logo-nomada.png
  src/components/cards/TikTokCard.jsx
  src/components/cards/reviewCard.css
  src/components/cards/reviewCard.jsx
  src/components/cards/tikTokCard.css
  src/index.css
  src/pages/HomePage.jsx
Due: prettier --check, prettier --write

Refactor of Sliderprops and added list of reviews
  src/components/cards/reviewCard.jsx
  src/components/cards/tikTokCard.css
  src/components/reviews/ReviewList.jsx
  src/components/tiktok/TikTokList.jsx
  src/data/constants.jsx
  src/data/packsData.jsx
  src/pages/HomePage.jsx
Due: prettier --check, prettier --write

Update reviewcard
  src/components/cards/reviewCard.css
Due: prettier --write

fix extension
  src/components/reviews/ReviewList.jsx
Due: prettier --check

fix css import
  src/components/cards/reviewCard.jsx
Due: prettier --check

fix name of file
  src/components/cards/reviewCard.jsx
Due: prettier --check

Rename reviewCard.jsx to ReviewCard.jsx
  src/components/cards/ReviewCard.jsx
Due: prettier --check

Have to run prettier command to pass the checks
  firebase.json
  jsconfig.json
  package.json
  postcss.config.js
  src/components/cards/reviewCard.css
  src/components/cards/tikTokCard.css
  src/pages/HomePage.jsx
Due: prettier --check, prettier --write

Modify hero and removed components no longer necessary
  src/assets/img/estrella-background.png
  src/assets/img/hero-nomada.png
  src/common/Button.jsx
  src/components/header/HamburgerButton.jsx
  src/components/header/Header.jsx
  src/components/header/ToogleMenu.jsx
  src/components/hero/Hero.jsx
  src/components/hero/hero.css
  src/components/packs/PackList.jsx
  src/components/reviews/ReviewList.jsx
  src/index.css
  src/pages/HomePage.jsx
Due: prettier --check, prettier --write

identation fix
  src/assets/BackgroundHero.png
  src/components/hero/Hero.jsx
  src/components/hero/hero.css
  src/components/reviews/ReviewList.jsx
  src/index.css
Due: prettier --check, prettier --write

add validation to packlist
  src/assets/BackgroundHero.png
  src/components/packs/PackList.jsx
Due: prettier --check

add nomada info section and fonts styles
  src/assets/fonts/Hagrid-Family-CC-BY-NCLicensepdf.pdf
  src/assets/fonts/Hagrid-Italic-trial.ttf
  src/assets/fonts/Hagrid-Regular-trial.ttf
  src/assets/fonts/Hagrid-Text-Extrabold-Italic-trial.ttf
  src/assets/fonts/Hagrid-Text-Extrabold-trial.ttf
  src/assets/img/profe-nomada-info-1.png
  src/assets/img/profe-nomada-info-2.png
  src/assets/img/profe-nomada-info-3.png
  src/assets/img/profe-nomada-info-4.png
  src/components/ProfeNomadasInfo/ProfeNomadasInfo.jsx
  src/components/ProfeNomadasInfo/profeNomadasInfo.css
  src/components/hero/hero.css
  src/data/constants.jsx
  src/index.css
  src/pages/HomePage.jsx
Due: prettier --check, prettier --write

fix identation
  src/components/ProfeNomadasInfo/ProfeNomadasInfo.jsx
  src/components/ProfeNomadasInfo/profeNomadasInfo.css
  src/index.css
Due: prettier --check, prettier --write

improving margins between sections
  src/App.css
  src/components/ProfeNomadasInfo/ProfeNomadasInfo.jsx
  src/components/ProfeNomadasInfo/profeNomadasInfo.css
  src/components/packs/PackList.jsx
  src/index.css
Due: prettier --check, prettier --write

creo carpeta nueva de componentes
  src/components anteriores/ProfeNomadasInfo/ProfeNomadasInfo.jsx
  src/components anteriores/ProfeNomadasInfo/profeNomadasInfo.css
  src/components anteriores/cards/ReviewCard.jsx
  src/components anteriores/cards/TikTokCard.jsx
  src/components anteriores/cards/reviewCard.css
  src/components anteriores/cards/tikTokCard.css
  src/components anteriores/hero/Hero.jsx
  src/components anteriores/hero/hero.css
  src/components anteriores/packs/Pack.jsx
  src/components anteriores/packs/PackList.jsx
  src/components anteriores/reviews/ReviewList.jsx
  src/components anteriores/tiktok/TikTokList.jsx
Due: prettier --check, prettier --write

diseño de wordpress increible shit
  src/components/About.jsx
  src/components/CallToAction.jsx
  src/components/Footer.jsx
  src/components/Header.jsx
  src/components/Services.jsx
  src/components/Stats.jsx
  src/components/Testimonials.jsx
  src/components/UniqueValuePropositions.jsx
  src/index.css
  src/pages/HomePage.jsx
Due: prettier --check, prettier --write
